* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  border: 1px solid lavender;
}

.nav-bar {
  background: #768a76
}

body {
  background: #c8d0c8;

}

button {
  background: transparent;
}

.card-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
